<div class="col-xs-10 col-xs-offset-1" about>
  <h1>About ALL THE FEELS</h1>

  <p>
    ALL THE FEELS was built by <a target="_blank" href="https://github.com/mailethiesen">Maile Thiesen</a>. A web developer currently enrolled in <a target="_blank" href="http://www.thefirehoseproject.com/">The Firehose Project</a>.
  </p>
  <br />
  <p>
    This quote generator is a place to hold ALL THE FEELS.</a>
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Headshot.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Maile Thiesen</h2>
    <br />
    <p>
      Maile Thiesen is a web developer and digital media archivist. Maile specializes in digital preservation, archiving, and media management for Higher Education and Cultural Heritage Institutions. She currently works at the <a target="_blank" href="http://amnh.org">American Museum of Natural History</a> as a digital media archivist and at the <a target="_blank" href="http://www.umass.edu">University of Massachusetts Amherst</a> as a digital asset manager. 
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>